<h1>Forgot Password</h1>

<mat-card class="forgot-password-card" [ngSwitch]="switchView">
  <form [formGroup]="verifyEmailForm" (ngSubmit)="verifyEmail()" *ngSwitchCase="'email'">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" placeholder="Email address" required>
      <mat-error *ngIf="verifyEmailForm.get('email')?.invalid && verifyEmailForm.get('email')?.touched">
        Please enter a valid email
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Verify Email</button>
  </form>

  <form [formGroup]="verifyOtpForm" (ngSubmit)="verifyOTP()" *ngSwitchCase="'otp'">
    <mat-form-field>
      <mat-label>OTP</mat-label>
      <input matInput formControlName="otp" type="text" placeholder="Enter OTP" required maxlength="6">
      <mat-error *ngIf="verifyOtpForm.get('otp')?.invalid && verifyOtpForm.get('otp')?.touched">
        Please enter a valid OTP
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Verify OTP</button>
  </form>
</mat-card>
